@tailwind base;
@tailwind components;
@tailwind utilities;

.textBox {
  @apply border border-slate-300 h-10 w-full rounded p-4 text-base;
}

label {
  @apply text-base text-black;
}

input[type="checkbox"]:checked {
    @apply bg-red-500 border-transparent;
  }

/* custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 9999px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}


